* {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* header */
header {
    position: fixed;
    height: 35px;
    width: 100%;
    border-bottom: 1px solid black;
    display: inline-flex;
    justify-content: space-between;
    z-index: 5;
}

.navbar-nav {
    display: inline-flex;
    justify-content: center;
    margin: 8px auto;
}

.nav-item {
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 6;
    width: 75px;
    height: 75px;
    border-radius: 5%;
    border: 1px black solid;
    box-shadow: 5px 5px 10px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* main */
main {
    position: relative;
    height: 50vw;
    top: 35px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */
footer {
    height: 36px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

footer h3 {
    margin: 0;
}

/* breadcrumbs*/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
  
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}