/*
green - #72FD35
    gray - #595C66
    light grey - #E6E6E6

    complimentary just in case
    pruple - #9E42FC
    dark purple - #7237B0
    orange/red - #FC2D28
    dark orange/red - #B01713
 */

/* unversal */
* {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    color: white;
}

h3 {
    font-size: 1.5rem;
}

/* header */ 
header {
    background-color: #fff;
    height: 36px;
}

nav {
    width: 96%;
    margin: 0 2%;
    padding: 2px 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

a:active {
    color: orange;
}

.navbar {
    display: inline-flex;
}

.nav-item{
    list-style: none;
    margin: 0 8px;
}

.dropdown {
    list-style: none;
}

.dropdown-content {
    display: none;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 5px 5px;
}

.dropdown-item {
    margin: 3px;
}

.dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
    right: 1%;
}

/* footer */
footer {
    background-color: #fff;
}

footer .container {
    margin-bottom: 15px;
}

footer hr {
    width: 90%;
    margin: 0 5%;
}

footer p {
    margin-left: 5%;
}

.container {
    display: inline-flex;
    justify-content: flex-end;
    width: 90%;
    margin: 0 5%;
}

.column {
    width: 30%;
}


/* extras */
.splash {
    background-image: url("../images/gradienta-n2XqPm7Bqhk-unsplash.jpg");
    background-size: cover;
    height: 650px;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0 5px 5px;
}

.brokers {
    height: 200px;
    background-color: orangered;
    position: relative;
    width: 100%;
    z-index: 1;
}

.long, .longer {
    height: 350px;
}

.long {
    background-color:chartreuse;
    border: 5px solid black;
}

.longer {
    background-color: orangered;
}

.transform{
    height: 100px;
    width: 100px;
    background-color:aqua;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.transform:hover {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    transform: rotate(180deg);
}

.zoom {
    height: 100px;
    width: 100px;
    background-image: url("../images/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.zoom:hover {
    background-size: 200%;
}
