:root {
    --bg-color: rgb();
    --bg-text-color: rgb();
    --text-color: rgb();
    --border-color: rgb();
}

html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1 + h3 {
    font-family: 'Merriweather', serif; 
}

body {
    margin: 0;
}


/* header */
header {
    position: fixed;
    background-color: rgba(0, 0, 0, .8); 
    height: 35px;
    width: 100%;
    border-bottom: 2px solid black;
    display: inline-flex;
    justify-content: space-between;
    z-index: 5;
    color: #FCF0F2;
}

header div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1%;
}

header a {
    color: #FCF0F2;
}

.navbar-nav {
    display: inline-flex;
    justify-content: center;
    padding: 0;
}

.nav-item {
    list-style: none;
    padding: 0 20%;
}

.nav-link {
    text-decoration: none !important;
    display: inline-block;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 2px;
    background-color: #FCF0F2;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .7s;
    z-index: 100;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 6;
    border-radius: 10px;
    border: 1px black solid;
    box-shadow: 5px 5px 10px;
    width: 8vw;
}

.dropdown-content a {
    color: black;
    padding: 10px;
}

.dropdown:hover .dropdown-content{
    display: block;
}


/* clock */
#clock {
    font-size: 18px;
    font-weight: bold;
}


/* links */
a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    color: lightblue;
    text-decoration: underline;
}

a:active {
    color:lightgreen;
}



/* footer */
footer {
    height: 3vw;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

footer h3 {
    padding-left: 1vw;
}

/* breadcrumbs*/
.breadcrumb-container {
    display: flex;
    align-items: center;
    padding-right: 1vw;
}

ul.breadcrumb {
    padding: 5px;
    list-style: none;   
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
  
ul.breadcrumb li+li:before {
    padding: 3px;
    color: black;
    content: "/\00a0";
}


/* sidebar */
.sidebar-content {
    position: absolute;
    display: none;
    background-color: white;
    width: 10vw;
}

.sidebar-btn:hover .sidebar-content{
    display: block;
}